@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  padding: 30px;
  background-color: #817e7e;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.image-slider {
  max-width: 1200px;
  margin-bottom: 30px;
}

.image-slider__img {
  text-align: center;
  width: 100%;
  height: 500px;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  font-size: 50px;
}

.swiper-pagination {
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #9b9494;
}

.swiper-pagination-fraction {
  font-size: 20px;
}

.swiper-scrollbar {
  background-color: #17804b;
}

.swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #b46b49;
}

.image-mini-slider {
  width: 1200px;
  height: 100px;
}

.image-mini-slider__slide {
  opacity: 0.2;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.image-mini-slider__slide.swiper-slide-thumb-active {
  opacity: 1;
}

.image-mini-slider__img {
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.image-in-slider {
  height: 450px;
}

.image-in-slider__slide {
  height: 450px;
}

.image-in-slider__img {
  width: 100%;
}

.text {
  font-size: 25px;
  line-height: 150%;
  color: white;
  margin: 50px 0;
  background-color: #354383;
  padding: 10px;
}

.text-slider__wrapper {
  font-size: 25px;
  line-height: 150%;
  color: white;
}

.text-slider__slide {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}
